body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.supplier {
  display: inline-block;
  min-height: 200px;
  width: 200px;
  border: 1px solid black;
  margin: 5px;
  vertical-align: top;
}

.workorders div {
  display: block;
}

.supplier div {
  display: block;
}

.supplier2 {
  display: inline-block;
  width: 217px;
  border: 1px solid #bbad00;
  margin: 5px;
  vertical-align: top;
  border-radius: 5px;
  padding: 5px;
  background-color: #ffff8c;
  height: 42px;
  overflow: hidden;
  font-family: "helvetica";
  box-shadow: 2px 2px 5px #0000008c;
}

.supplier2 div {
  display: block;
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ratings-gauge {
  background-color: red;
  width: 100%;
  height: 10px;
}

.ratings-gauge div {
  background-color: blue;
  height: 10px;
}